<!DOCTYPE html>
<!--
| Landed by HTML5 UP

| html5up.net | @n33co

| Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)-->
<html>
<head>
<title><%= ::Temple::Utils.escape_html((current_page.data.title)) %>
</title><meta charset="utf-8" />

<meta property="og:image" content="http://www.tagmento.com/img/banner.jpg" />
<meta
<meta content="width=device-width, initial-scale=1" name="viewport" />
<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">
<style>
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/font-awesome/fontawesome-webfont.eot?v=4.5.0");
  src: url("../fonts/font-awesome/fontawesome-webfont.eot?v=4.5.0#iefix") format("embedded-opentype"),url("../fonts/font-awesome/fontawesome-webfont.woff2?v=4.5.0") format("woff2"),url("../fonts/font-awesome/fontawesome-webfont.woff?v=4.5.0") format("woff"),url("../fonts/font-awesome/fontawesome-webfont.ttf?v=4.5.0") format("truetype"),url("../fonts/font-awesome/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-twitter:before {
  content: "";
}

.fa-facebook:before {
  content: "";
}

.fa-pinterest:before {
  content: "";
}

.fa-envelope:before {
  content: "";
}

.fa-linkedin:before {
  content: "";
}

.fa-reddit:before {
  content: "";
}

.fa-hacker-news:before {
  content: "";
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway/raleway-a1481c6d4bb2b3fb69d2277d351343c25ed0fba6.eot");
}

html,
body,
div,
span,
h1,
h2,
p,
a,
img,
strong,
i,
ul,
li,
form,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

header,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

body {
  -webkit-text-size-adjust: none;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.row {
  border-bottom: solid 1px transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.row>* {
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.row:after,
.row:before {
  content: '';
  display: block;
  clear: both;
  height: 0;
}

.row.uniform>*>:first-child {
  margin-top: 0;
}

.row.uniform>*>:last-child {
  margin-bottom: 0;
}

.row>* {
  padding: 0 0 0 2.5em;
}

.row {
  margin: 0 0 -1px -2.5em;
}

.row.uniform>* {
  padding: 2.5em 0 0 2.5em;
}

.row.uniform {
  margin: -2.5em 0 -1px -2.5em;
}

.\38 u {
  width: 66.6666666667%;
  clear: none;
  margin-left: 0;
}

.\34 u\24 {
  width: 33.3333333333%;
  clear: none;
  margin-left: 0;
}

@media screen and (max-width: 1680px) {
  .row>* {
    padding: 0 0 0 2.5em;
  }

  .row {
    margin: 0 0 -1px -2.5em;
  }

  .row.uniform>* {
    padding: 2.5em 0 0 2.5em;
  }

  .row.uniform {
    margin: -2.5em 0 -1px -2.5em;
  }
}

@media screen and (max-width: 1280px) {
  .row>* {
    padding: 0 0 0 2.5em;
  }

  .row {
    margin: 0 0 -1px -2.5em;
  }

  .row.uniform>* {
    padding: 2.5em 0 0 2.5em;
  }

  .row.uniform {
    margin: -2.5em 0 -1px -2.5em;
  }
}

@media screen and (max-width: 980px) {
  .row>* {
    padding: 0 0 0 2.5em;
  }

  .row {
    margin: 0 0 -1px -2.5em;
  }

  .row.uniform>* {
    padding: 2.5em 0 0 2.5em;
  }

  .row.uniform {
    margin: -2.5em 0 -1px -2.5em;
  }
}

@media screen and (max-width: 736px) {
  .row>* {
    padding: 0 0 0 2.5em;
  }

  .row {
    margin: 0 0 -1px -2.5em;
  }

  .row.uniform>* {
    padding: 2.5em 0 0 2.5em;
  }

  .row.uniform {
    margin: -2.5em 0 -1px -2.5em;
  }
}

@media screen and (max-width: 480px) {
  .row>* {
    padding: 0 0 0 2.5em;
  }

  .row {
    margin: 0 0 -1px -2.5em;
  }

  .row.uniform>* {
    padding: 2.5em 0 0 2.5em;
  }

  .row.uniform {
    margin: -2.5em 0 -1px -2.5em;
  }

  .\31 2u\24\28xsmall\29 {
    width: 100%;
    clear: none;
    margin-left: 0;
  }

  .\31 2u\24\28xsmall\29+* {
    clear: left;
  }
}

html,
body {
  background: #1c1d26;
}

body,
input {
  color: white;
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 15pt;
  font-weight: 100;
  line-height: 1.75em;
}

a {
  border-bottom: dotted 1px;
  color: #e44c65;
  text-decoration: none;
}

strong {
  color: #ffffff;
  font-weight: 400;
}

i {
  font-style: italic;
}

p {
  margin: 0 0 2em 0;
}

h1,
h2 {
  color: #ffffff;
  font-weight: 400;
  line-height: 1em;
  margin: 0 0 1em 0;
}

h1 a {
  color: inherit;
  border: 0;
}

h2 {
  font-size: 2em;
  line-height: 1.5em;
  letter-spacing: -0.025em;
}

body.landing {
  text-decoration: none;
}

body.landing:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

body.landing:before {
  -moz-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  color: rgba(255,255,255,0.15);
  content: '\f1ce';
  display: block;
  font-size: 2em;
  height: 2em;
  left: 50%;
  line-height: 2em;
  margin: -1em 0 0 -1em;
  opacity: 0;
  position: fixed;
  text-align: center;
  top: 50%;
  width: 2em;
  z-index: -1;
}

body.landing:after {
  background: #1c1d26;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

@media (-webkit-min-device-pixel-ratio: 2) {
  body.landing:before {
    line-height: 2.025em;
  }
}

header p {
  color: #ffffff;
  position: relative;
  margin: 0 0 1.5em 0;
}

header h2+p {
  font-size: 1.25em;
  margin-top: -1em;
  line-height: 1.75em;
}

form {
  margin: 0 0 2em 0;
}

input[type="email"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: rgba(0,0,0,0.5);
  border-radius: 4px;
  border: solid 1px rgba(255,255,255,0.5);
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
}

input[type="email"] {
  height: 3em;
}

::-webkit-input-placeholder {
  color: white !important;
  opacity: 1.0;
}

:-moz-placeholder {
  color: white !important;
  opacity: 1.0;
}

::-moz-placeholder {
  color: white !important;
  opacity: 1.0;
}

:-ms-input-placeholder {
  color: white !important;
  opacity: 1.0;
}

.icon>.label {
  display: none;
}

.image {
  border-radius: 4px;
  border: 0;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.image:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("/css/images/overlay.png");
  width: 100%;
  height: 100%;
  z-index: 1;
}

.image img {
  border-radius: 4px;
  display: block;
}

.image.fit {
  display: block;
  margin: 0 0 2em 0;
  width: 100%;
}

.image.fit img {
  width: 100%;
}

ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em;
}

ul li {
  padding-left: 0.5em;
}

input[type="submit"],
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: transparent;
  border-radius: 4px;
  border: 0;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5);
  color: #ffffff !important;
  display: inline-block;
  font-weight: 400;
  height: 3em;
  line-height: 3em;
  padding: 0 2.25em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

input[type="submit"].fit {
  display: block;
  margin: 0 0 1em 0;
  width: 100%;
}

input[type="submit"].special,
.button.special {
  background-color: #e44c65;
  box-shadow: none;
  color: #ffffff !important;
}

.goto-next {
  border: 0;
  bottom: 0;
  display: block;
  height: 5em;
  left: 50%;
  margin: 0 0 0 -5em;
  overflow: hidden;
  position: absolute;
  text-indent: 10em;
  white-space: nowrap;
  width: 10em;
  z-index: 1;
}

.goto-next:before {
  background-image: url("/css/images/arrow.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  display: block;
  height: 1.5em;
  left: 50%;
  margin: -0.75em 0 0 -1em;
  position: absolute;
  top: 50%;
  width: 2em;
  z-index: 1;
}

.spotlight .image.main {
  display: none;
}

.spotlight .image.main img {
  position: relative;
}

#page-wrapper {
  padding-top: 3.5em;
}

#header #logo img {
  height: 1.5em;
  position: relative;
  top: 0.5em;
}

#header {
  background: rgba(39,40,51,0.965);
  box-shadow: 0 0 0.25em 0 rgba(0,0,0,0.25);
  height: 3.5em;
  left: 0;
  line-height: 3.5em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

#header h1 {
  height: inherit;
  left: 1.25em;
  line-height: inherit;
  margin: 0;
  position: absolute;
  top: 0;
}

#header .built-by {
  font-weight: 100;
  margin: 0px 5px;
}

#header .built-by img {
  height: 1.5em;
  display: inline-block;
  position: relative;
  top: 0.5em;
  margin: 0px 2px;
}

#header nav {
  position: absolute;
  right: 1em;
  top: 0;
}

#header nav ul {
  margin: 0;
}

#header nav ul li {
  display: inline-block;
  margin-left: 1em;
}

#header nav ul li a,
#header nav ul li span {
  border: 0;
  color: inherit;
  display: inline-block;
  height: inherit;
  line-height: inherit;
  outline: 0;
}

#header nav ul li a.button {
  height: 2em;
  line-height: 2em;
  padding: 0 1.25em;
}

#header nav ul li a:not(.button):before,
#header nav ul li span:not(.button):before {
  margin-right: 0.5em;
}

body.landing #page-wrapper {
  padding-top: 0;
}

body.landing #header {
  background: transparent;
  box-shadow: none;
  position: absolute;
}

#banner {
  background-attachment: fixed;
  background-color: #272833;
  background-image: url("../../img/banner.jpg");
  background-position: bottom center;
  background-size: cover;
  box-shadow: 0 0.25em 0.5em 0 rgba(0,0,0,0.25);
  min-height: 100vh;
  position: relative;
  text-align: center;
  z-index: 21;
}

#banner:before {
  content: '';
  display: inline-block;
  height: 100vh;
  vertical-align: middle;
  width: 1%;
}

#banner:after {
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("/css/images/overlay.png");
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("/css/images/overlay.png");
  background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("/css/images/overlay.png");
  background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("/css/images/overlay.png");
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#banner .content {
  display: inline-block;
  margin-right: 1%;
  max-width: 95%;
  padding: 6em;
  position: relative;
  text-align: right;
  vertical-align: middle;
  z-index: 1;
}

#banner .content header {
  display: inline-block;
  vertical-align: middle;
}

#banner .content header h2 {
  font-size: 2.5em;
  margin: 0;
}

#banner .content header p {
  margin: 0.5em 0 0 0;
  top: 0;
}

#banner .content form {
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
  clear: both;
}

form.signup-form {
  width: 100%;
}

@media screen and (max-width: 1680px) {
  body,
  input {
    font-size: 13pt;
  }

  #header nav ul li a span {
    display: inline;
  }
}

@media screen and (max-width: 1280px) {
  #header nav ul li a span {
    display: none;
  }

  body,
  input {
    font-size: 11.5pt;
  }

  #banner .content {
    padding: 4.5em;
  }
}

@media screen and (max-width: 980px) {
  body,
  input {
    font-size: 12pt;
  }

  .spotlight .image.main {
    display: block;
    margin: 0;
    max-height: 40vh;
    overflow: hidden;
  }

  #banner {
    background-attachment: scroll;
  }

  #banner .goto-next {
    height: 7em;
  }

  #banner .content {
    padding: 9em 0;
    text-align: center;
  }

  #banner .content header {
    display: block;
    margin: 0 0 2em 0;
    text-align: center;
  }
}

@media screen and (max-width: 736px) {
  html,
  body {
    overflow-x: hidden;
  }

  body,
  input {
    font-size: 12pt;
  }

  h2 {
    font-size: 1.5em;
  }

  header p br {
    display: none;
  }

  header h2+p {
    font-size: 1em;
  }

  .goto-next:before {
    height: 0.8em;
    margin: -0.4em 0 0 -0.6em;
    width: 1.2em;
  }

  .spotlight .image.main {
    max-height: 60vh;
  }

  #header {
    display: none;
  }

  #banner {
    box-shadow: 0 0.125em 0.5em 0 rgba(0,0,0,0.25);
    min-height: calc(100vh - 44px);
  }

  #banner:before {
    height: calc(100vh - 44px);
  }

  #banner .content {
    padding: 4.0625em 1.5em 4.875em 1.5em;
  }

  #banner .content header h2 {
    font-size: 1.5em;
  }

  #page-wrapper {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    padding-bottom: 1px;
    padding-top: 44px !important;
  }
}

@media screen and (max-width: 480px) {
  html,
  body {
    min-width: 320px;
  }

  body,
  input {
    font-size: 12pt;
  }

  input[type="submit"],
  .button {
    padding: 0;
  }

  .spotlight .image.main {
    max-height: 50vh;
  }

  #banner .content {
    padding: 3em 1.5625em 5.25em 1.5625em;
  }
}
</style>
<script type="text/javascript">
    (function () {
      "use strict";
      // once cached, the css file is stored on the client forever unless
      // the URL below is changed. Any change will invalidate the cache
      var css_href = './fonts/raleway/raleway.css';
      // a simple event handler wrapper
      function on(el, ev, callback) {
        if (el.addEventListener) {
          el.addEventListener(ev, callback, false);
        } else if (el.attachEvent) {
          el.attachEvent("on" + ev, callback);
        }
      }
      
      // if we have the fonts in localStorage or if we've cached them using the native batrowser cache
      if ((window.localStorage && localStorage.font_css_cache) || document.cookie.indexOf('font_css_cache') > -1){
        // just use the cached version
        injectFontsStylesheet();
      } else {
       // otherwise, don't block the loading of the page; wait until it's done.
        on(window, "load", injectFontsStylesheet);
      }
      
      // quick way to determine whether a css file has been cached locally
      function fileIsCached(href) {
        return window.localStorage && localStorage.font_css_cache && (localStorage.font_css_cache_file === href);
      }
      // time to get the actual css file
      function injectFontsStylesheet() {
       // if this is an older browser
        if (!window.localStorage || !window.XMLHttpRequest) {
          var stylesheet = document.createElement('link');
          stylesheet.href = css_href;
          stylesheet.rel = 'stylesheet';
          stylesheet.type = 'text/css';
          document.getElementsByTagName('head')[0].appendChild(stylesheet);
          // just use the native browser cache
          // this requires a good expires header on the server
          document.cookie = "font_css_cache";
        
        // if this isn't an old browser
        } else {
           // use the cached version if we already have it
          if (fileIsCached(css_href)) {
            injectRawStyle(localStorage.font_css_cache);
          // otherwise, load it with ajax
          } else {
            var xhr = new XMLHttpRequest();
            xhr.open("GET", css_href, true);
            // cater for IE8 which does not support addEventListener or attachEvent on XMLHttpRequest
            xhr.onreadystatechange = function () {
              if (xhr.readyState === 4 && xhr.status === 200) {
                // once we have the content, quickly inject the css rules
                injectRawStyle(xhr.responseText);
                // and cache the text content for further use
                // notice that this overwrites anything that might have already been previously cached
                localStorage.font_css_cache = xhr.responseText;
                localStorage.font_css_cache_file = css_href;
              }
            };
            xhr.send();
          }
        }
      }
      // this is the simple utitily that injects the cached or loaded css text
      function injectRawStyle(text) {
        var style = document.createElement('style');
        // cater for IE8 which doesn't support style.innerHTML
        style.setAttribute("type", "text/css");
        // add the style element to the DOM before adding styles to it or IE8 will crash
        document.getElementsByTagName('head')[0].appendChild(style);
        if (style.styleSheet) {
            style.styleSheet.cssText = text;
        } else {
            style.innerHTML = text;
        }
      }
    }());
</script>
<!--[if lte IE 8]>
<%= javascript_include_tag "ie/html5shiv.js" %>
<![endif]-->
<script>
/*!
loadCSS: load a CSS file asynchronously.
[c]2015 @scottjehl, Filament Group, Inc.
Licensed MIT
*/
(function(w){
	"use strict";
	/* exported loadCSS */
	var loadCSS = function( href, before, media ){
		// Arguments explained:
		// `href` [REQUIRED] is the URL for your CSS file.
		// `before` [OPTIONAL] is the element the script should use as a reference for injecting our stylesheet <link> before
			// By default, loadCSS attempts to inject the link after the last stylesheet or script in the DOM. However, you might desire a more specific location in your document.
		// `media` [OPTIONAL] is the media type or query of the stylesheet. By default it will be 'all'
		var doc = w.document;
		var ss = doc.createElement( "link" );
		var newMedia = media || "all";
		var ref;
		if( before ){
			ref = before;
		}
		else {
			var refs = ( doc.body || doc.getElementsByTagName( "head" )[ 0 ] ).childNodes;
			ref = refs[ refs.length - 1];
		}

		var sheets = doc.styleSheets;
		ss.rel = "stylesheet";
		ss.href = href;
		// temporarily set media to something inapplicable to ensure it'll fetch without blocking render
		ss.media = "only x";


		// Inject link
			// Note: the ternary preserves the existing behavior of "before" argument, but we could choose to change the argument to "after" in a later release and standardize on ref.nextSibling for all refs
			// Note: `insertBefore` is used instead of `appendChild`, for safety re: http://www.paulirish.com/2011/surefire-dom-element-insertion/
		ref.parentNode.insertBefore( ss, ( before ? ref : ref.nextSibling ) );
		// A method (exposed on return object for external use) that mimics onload by polling until document.styleSheets until it includes the new sheet.
		var onloadcssdefined = function( cb ){
			var resolvedHref = ss.href;
			var i = sheets.length;
			while( i-- ){
				if( sheets[ i ].href === resolvedHref ){
					return cb();
				}
			}
			setTimeout(function() {
				onloadcssdefined( cb );
			});
		};

		// once loaded, set link's media back to `all` so that the stylesheet applies once it loads
		if( ss.addEventListener ){
			ss.addEventListener( "load", function(){
				this.media = newMedia;
			});
		}
		ss.onloadcssdefined = onloadcssdefined;
		onloadcssdefined(function() {
			if( ss.media !== newMedia ){
				ss.media = newMedia;
			}
		});
		return ss;
	};
	// commonjs
	if( typeof exports !== "undefined" ){
		exports.loadCSS = loadCSS;
	}
	else {
		w.loadCSS = loadCSS;
	}
}( typeof global !== "undefined" ? global : this ));
loadCSS( "/css/main.css" );
</script>
<noscript>
<%= stylesheet_link_tag "main", media: :all %>
</noscript>
<!--[if lte IE 9]>
<%= stylesheet_link_tag "ie9", media: :all %>
<![endif]--><!--[if lte IE 8]>
<%= stylesheet_link_tag "ie8", media: :all %>
<![endif]--></head>
<body class="<%= page_classes %> landing">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-33667276-2', 'auto');
    ga('send', 'pageview');

  </script>
<div id="page-wrapper">
<!--Header-->
<header id="header">
<h1 id="logo">
<img src="/img/logo.svg">
<a href="/"> TagMento</a>
<span class="built-by">built by <a href="http://www.brightdigit.com"><img alt="brightdigit" src="/img/brightdigit-name.svg"></a></span>
</h1><nav id="nav">
<ul>

<li>
<!-- Email -->
<a href="mailto:?&bcc=contact@tagmento.com&subject=Take a look at TagMento - track your time intelligently&body=Hey,%0A%0ACheck%20this%20app%20out.%20TagMento%20helps%20you%20track%20your%20time%20intelligently%20based%20on%20where%20you%20are%20and%20what%20you%20have%20planned.%20Signup%20at%20the%20website%20to%20receive%20exclusive%20news%20on%20releases.%0A%0Ahttp%3A//www.tagmento.com" title="Share via Email" target="_blank" class="btn btn-envelope"><i class="fa fa-envelope"></i> <span class="title">Email</span></a>

</li>

<li>
<!-- Twitter -->
<a href="https://twitter.com/share?url=https%3A%2F%2Fwww.tagmento.com&hashtags=productivity%2Capp%2CBigData&text=Do you know what have you done today? Track time intelligently with @tagmento" title="Share on Twitter" target="_blank" class="btn btn-twitter"><i class="fa fa-twitter"></i> <span class="title">Twitter</span></a>

</li>
<li>
 <!-- Facebook -->
<a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.tagmento.com" title="Share on Facebook" target="_blank" class="btn btn-facebook"><i class="fa fa-facebook"></i> <span class="title">Facebook</span></a>
</li>

<li>
 <!-- Pintrest -->
<a href="https://pinterest.com/pin/create/button/?url=http%3A//www.tagmento.com&media=http%3A//www.tagmento.com/img/banner.jpg&description=Do%20you%20know%20what%20have%20you%20done%20today?%0ATagMento%20helps%20you%20track%20your%20time%20intelligently%20based%20on%20where%20you%20are%20and%20what%20you%20have%20planned.%0ASignup%20to%20receive%20exclusive%20news%20on%20releases." title="Share on Facebook" target="_blank" class="btn btn-pinterest"><i class="fa fa-pinterest"></i> <span class="title">Pinterest</span></a>
</li>

<li>
<!-- LinkedIn --> 
<a href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A//www.tagmento.com&title=Do%20you%20know%20what%20have%20you%20done%20today?%20Track%20time%20intelligently%20with%20TagMento.&summary=TagMento%20helps%20you%20track%20your%20time%20intelligently%20based%20on%20where%20you%20are%20and%20what%20you%20have%20planned.Signup%20to%20receive%20exclusive%20news%20on%20new%20releases.&source=https://www.linkedin.com/company/tagmento" title="Share on LinkedIn" target="_blank" class="btn btn-linkedin"><i class="fa fa-linkedin"></i> <span class="title">LinkedIn</span></a>
</li>
<li>
<!-- LinkedIn --> 
<a href="http://www.reddit.com/submit?url=http://www.tagmento.com&title=Do you know what have you done today? Track time intelligently with TagMento" title="Share on Reddit" target="_blank" class="btn btn-reddit"><i class="fa fa-reddit"></i> <span class="title">Reddit</span></a>
</li>

<li>
<!-- Hacker News --> 
<a href="https://news.ycombinator.com/submitlink?u=http://www.tagmento.com&t=Track time intelligently with TagMento" title="Share on Hacker News" target="_blank" class="btn btn-hacker-news"><i class="fa fa-hacker-news"></i> <span class="title">Hacker News</span></a>
</li>

<li>
<a class="button special scrolly" href="/#six"> Sign Up</a>
</li>
</ul></nav></header><%= yield %>
<!--Footer-->
<footer id="footer">
<ul class="icons">
<li>
<a class="icon alt fa-twitter" href="http://www.twitter.com/tagmento">
<span class="label">Twitter</span>
</a></li>
<li>
<a class="icon alt fa-facebook" href="http://www.facebook.com/tagmento">
<span class="label">Facebook</span>
</a></li>
<li>
<a class="icon alt fa-linkedin" href="https://www.linkedin.com/company/tagmento">
<span class="label">Linked</span>
</a></li>
<li>
<a class="icon alt fa-envelope" href="mailto:contact@tagmento.com">
<span class="label">Email</span>
</a></li></ul><ul class="copyright">
<li><a href="http://www.brightdigit.com" style="text-decoration: none;">&copy; BrightDigit LLC.</a> All rights reserved.
</li>
</ul></footer></div><!--Scripts-->
<%= javascript_include_tag "vendor" %>
<!--[if lte IE 8]>
<%= javascript_include_tag "ie/respond" %>
<![endif]--><%= javascript_include_tag "main" %>
</body></html>
